#features-section {
  background-color: #fff;
  padding: 5em 0;
  display: flex;
  flex-wrap: wrap;

  div {
    text-align: center;
    max-width: 375px;
    padding: 0 1em;
    margin: 0 auto;
  }

  img {
    max-width: 7em;
    color: #4bc0ea;
  }

  p {
    font-weight: 100;
  }

  h2 {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}