.weather-detail {
  text-align: center;
  border-bottom: 1px solid #aaa;
  padding-bottom: 1em;

  h2, h3, p {
    margin: 0;
    color: #fff;
  }

  img {
    width: 6em;
  }

  h2 {
    font-size: 3em;
    font-weight: 400;
    position: relative;
    bottom: 0.25em;
  }

  h3 {
    font-size: 1.25em;
    position: relative;
    bottom: 0.25em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
  }

  p, h3 {
    font-weight: 300;
  }

  p {
    line-height: 1.7;
    color: #eee;
    letter-spacing: 2px;
    background-color: #ccc;
    padding: 0.75em 0;
  }

  span {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
  }
}