.weather-box {
  border-bottom: 1px solid #aaa;
  text-align: center;

  h2, h3, p {
    margin: 0;
    color: #fff;
  }

  .current-weather {
    background-color: #cdd9ff;
    padding: 0.5em 2.5em;
  }

  img {
    width: 6em;
    display: inline-block;
    float: left;
    padding-left: 1em;
    padding-bottom: 0.45em;
  }

  h2 {
    font-size: 3em;
    font-weight: 300;
    display: inline-block;
    float: right;
    padding: 0.5em 0.25em 0 0;
  }

  h3 {
    font-size: 1.5em;
    position: relative;
    bottom: 0.25em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 0.75em 0 0.5em 0;
    text-align: center;
  }

  p, h3 {
    font-weight: 300;
  }

  p {
    line-height: 1.7;
    color: #eee;
    letter-spacing: 2px;
    background: rgba(31, 79, 96, 0.5);
    padding: 0.25em 0 0.45em 0;
  }

  span {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
  }

  .loading-spinner img {
    width: 4em;
  }

  div > span {
    color: #fff;
    display: block;
    padding: 0.5em 0;
  }

  p span:first-child {
    float: left;
    padding-left: 0.5em;
  }

  p span:last-child {
    float: right;
    padding-right: 0.5em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  ul li {
    display: inline-block;
    float: left;
    width: 32.7%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #cdd9ff;
  }

  ul li:hover {
    cursor: pointer;
  }

  ul li > img {
    width: 3em;
    padding-left: 1.75em;
  }

  ul li > p,
  ul li > img {
    background: none;
    display: block;
    margin: 0 auto;
  }
}