html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: blue;
}

p, span {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5 {
  letter-spacing: 1px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.error-msg {
  color: red;
  font-style: italic;
}
