.login-section {
  padding-top: 7em;

  form {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    background-color: #fff;
  }

  input[type="text"] {
    width: 80%;
    float: right;
    padding: 1em 0;
    font-size: 1.2em;
    border: none;
    margin: 0;
    color: #555;
  }

  form > div {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
  }

  form p {
    color: #aaa;
  }

  button {
    width: 90%;
    display: block;
    margin: 1em auto;
    font-size: 1.2em;
    padding: 0.5em 0;
    color: #fff;
    background-color: dodgerblue;
    border: none;
  }

  .password-reset {
    color: blue;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
  }

  form img {
    width: 35px;
    position: absolute;
    top: 1em;
    left: 1em;
  }

  img {
    width: 5em;
    display: block;
    margin: 0 auto;
  }

  h1, p, h3 {
    text-align: center
  }

  h1, h3 {
    color: #444;
  }

  #pw-logo {
    margin-bottom: 2em;
  }
}